run = "mvn clean package && java -jar target/TheCityGame-1.0-SNAPSHOT.jar"
hidden = [".build", ".config"]
entrypoint = "src/GameService.java"

[nix]
channel = "stable-22_11"

[env]
PATH = "/home/runner/$REPL_SLUG/.config/nixpkgs/bin:/home/runner/$REPL_SLUG/.nix-profile/bin:/nix/var/nix/profiles/default/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
XDG_DATA_DIRS = "/home/runner/$REPL_SLUG/.local/share/flatpak/exports/share:/home/runner/$REPL_SLUG/.nix-profile/share:/home/runner/$REPL_SLUG/.local/share/flatpak/exports/share:/var/lib/flatpak/exports/share:/usr/local/share:/usr/share"

[packager]
language = "java"

[packager.features]
packageSearch = true
guessImports = true
enabledForHosting = false

[languages.java]
pattern = "**/{*.java,*.class,*.jar,*.war,*.ear}"
syntax = "java"

[languages.java.languageServer]
start = "java -jar /home/runner/$REPL_SLUG/.config/jdtls/plugins/org.eclipse.equinox.launcher_1.6.700.v20231214-2017.jar -configuration /home/runner/$REPL_SLUG/.config/jdtls/config_linux -data /home/runner/$REPL_SLUG/.config/jdtls/workspace" 